body {
  color: white;
  font-family: Verdana;
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
}

a {
  color: aquamarine;
  font-size: 16px;
}

h2 {
  font-size: 42px;
  font-family: Verdana;
  font-weight: 300;
}

p {
  font-family: 21px;
  color: gray;
}
